 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>IT Student with 3+ years of experience in penetration testing and ethical hacking. Acknowledgment in Cybersecurity also experienced in Linux system administration (Experienced in custom shell scripting), network management, and Vulnerability assessment.</p>
                </div>
                <div class="col-lg-4">
                    <p>Expertise in Linux Shell, Windows Batch/PowerShell and Python scripting for Task automation, Data Handling and scraping. Systems Administration, Security and Network Management/Security.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://www.upwork.com/o/profiles/users/~011184505ed9059668/" class="btn btn-lg btn-outline">
                        <i class=""></i> Upwork
                    </a>
                </div>
            </div>
        </div>
    </section>
